<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChatbotCollege</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styleabout.css' %}">
</head>
<body>
    <header>
        <a class="logotitle" href="#">College Chatbot</a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'mainchat-homepage' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        <a class="cta" href="{% url 'mainchat-sigin' %}"><button>Login</button></a>
        
    </header>
    <main>
       <h1 class="main-header">Welcome to the College Chatbot</h1>
        <section class="about-section"> 
            <div class="content-container">
                <div class="about-content">
                    <h2>About the bot,</h2>
                    <p1 style="margin-bottom: 20px;">Available 24/7.Instant Response.Alleviates the burden for Staff.</p1>
                <div class="container">
                    <img src="{% static 'img/chatbot-logo-1.png' %}" alt="ChatBot" class="chatbot-image">    
                    <p2>Provides Information about:</p2> 
                    <ul class="square-bullet">
                        <li>Frequently asked questions</li>
                        <li>Campus events</li>
                        <li>Course registration</li>
                        <li>Academic resources for students</li>
                        <li>Academic advising</li>
                        <li>Residential life</li>
                        <li>And much more!</li>
                    </ul>
                </div>    
                    <p3>Using the chatbot is easy!</p3>
                    <ul class="square-bullet">
                        <li>Login Button: If you already have an account, use this to sign in.</li>
                        <li>Register Button: If you are a new user, you can find a register button in the homepage to sign up.</li>
                    </ul>
                </div>
                <div class="faq-content">
                    <h2>Frequently Asked Questions</h2>
                    <ol class="numbered">
                        <li>
                            <h7>What Financial resources are available for Graduate Students?</h7> <br>
                            <p4>Please check this link <a href='https://grad.mnsu.edu/graduate-student-resources/graduate-financial-resources/ for more information about financial resources available for graduate students'>click here</a> </p4> 
                        </li>
                        <li>
                            <h8>What Academic Programs are offered?</h8> <br>
                            <p5>For Academic Programs related information, please <a href='https://hss.mnsu.edu/academic-programs/'>click here</a> </p5> 
                        </li>
                        <li>
                            <h9>How to access Mathematics & Statistics learning center?</h9> <br>
                            <p6>Math & Statistics Learning Center <a href='http://www.mnsu.edu/success/tutoring/mathsci-center-schedules.html'>click here</a> </p6> 
                        </li>
                        <li>
                            <h10>What are the available housing options off campus?</h10>
                            <p7>Here are some off campus housing option for you, <a href='https://offcampushousing.mnsu.edu/'>click here</a> </p7>
                    <div class="container">
                        <img src="{% static 'img/images.jpg' %}" alt="ChatBot" class="image"> 
                    </div>
                        </li>
                    </ol>        
                </div>
            </div>
        </section>
        <section>
            <h6>Contact Information: If you have any questions or feedback about the College Chatbot, please don't hesitate to contact us. You can reach us by email at chatbot@college.edu.</h6>
        </section>
    </main>
</body>
</html>
