<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styleabout.css' %}">

</head>
<body>
    <header>
        <a class="logotitle" href="#">College Chatbot</a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'mainchat-homepage' %}">Home</a></li>
                <li><a href="{% url 'mainchat-login' %}">Chat</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        <a class="cta" href="{% url 'mainchat-login' %}"><button>Login</button></a>
    </header>
    <main>
        <h1 class="main-header">Welcome to the College Chatbot</h1>
        <section class="about-section">
            <div class="content-container">
                <div class="about-content">
                    <h2>About</h2>
                    <p>The College Chatbot is a virtual chatbot agent available 24/7 designed to help students and faculty with various tasks and questions related to college life.</p>
                    <p>Some of the things the chatbot can help with include:</p>
                    <ul>
                        <li>Answering frequently asked questions</li>
                        <li>Providing information about campus events</li>
                        <li>Assisting with course registration and scheduling</li>
                        <li>Offering academic resources available for students</li>
                        <li>Help with academic advising resources</li>
                        <li>Provides information about Residential life</li>
                        <li>And much more!</li>
                    </ul>
                    <h3>How to Use</h3>
                    <p>Using the chatbot is easy!</p>
                    <p>Simply click the 'Login' button on the top of the page if you already have an account or click the 'register' button at the bottom of the page to sign up. Now you can type your question or request into the chatbox, by clicking on the 'Chat' button on the top, and the chatbot will provide a response in real-time.</p>
                </div>
                <div class="faq-content">
                    <h2>Frequently Asked Questions</h2>
                    <ul>
                        <li>
                            <h7>Requesting my official transcript</h7>
                            <p>For information on requesting a transcript, please visit the Transcripts and Verifications page of the Registration and Academic Records website.<a href='https://www.mnsu.edu/academics/course-planning-and-registration/registration-and-academic-records/current-students-registration-resources/transcripts-and-verifications/'>click here</a> </p> 
                        </li>
                        <li>
                            <h8>Activating my StarID or resetting my password</h8>
                            <p>For information on activating your StarID or changing/resetting your password, please visit the StarID Login, Password Change and Help page.<a href='https://starid.minnstate.edu/help/'>click here</a> </p> 
                        </li>
                        <li>
                            <h9>What is StarID?</h9>
                            <p>If you have been accepted to MSU and don't know your StarID, you can find details on the starID section of IT solutions page.<a href='https://mankato.mnsu.edu/it-solutions/help-support/starid/'>click here</a> </p> 
                        </li>
                        <li>
                            <h10>What is techID?</h10>
                            <p>If you need to know your Tech ID, this is listed in E-services page.<a href='https://www.mnsu.edu/eservices/'>click here</a> </p> 
                        </li>
                </div>
            </div>
        </section>
        <section>
            <h6>Contact Information: If you have any questions or feedback about the College Chatbot, please don't hesitate to contact us. You can reach us by email at chatbot@college.edu.</h6>
        </section>
    </main>
</body>
</html>
