<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/output.css' %}">
    <title>ChatBot Output</title>
</head>
<body>
    <div class="output-container">
        <h1>ChatBot Output</h1>
        <div class="output-box">
            <p>
                <span class="here-answer">
                    Here is your answer
                  </span>
                <!-- Display the chatbot output here --></p>
        </div>
    </div>
</body>
</html>
